<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <title>Rahul's Portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />



    <!-- Bootstrap core CSS -->

    <link href="{% static 'vendor\bootstrap\css\bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}" />

    <link rel="stylesheet" href="{% static 'assets\css\templatemo-style.css' %} " />
    <link rel="stylesheet" href="{% static 'assets\css\lightbox.css' %} " />
    <style>
        .poll-desc h4 {
            margin-top: 1.5rem;
            font-size: 17px;
            color: #6ae2e6;
            font-weight: bold;
            text-transform: uppercase;
        }
    </style>

</head>

<body>
    <div id="page-wraper">
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
            <i class="fa fa-bars" id="menu-toggle"></i>
            <div id="menu" class="menu" style="background-color:#7c7c7c">
                <i class="fa fa-times" id="menu-close"></i>
                <div class="container">
                    <div class="image">
                        <a href="#"><img src="{% static 'assets/images/author-image.jpg' %}" alt="" /></a>
                    </div>
                    <div class="author-content">
                        <h4>Rahul Kumar Kumawat</h4>
                        <span>Web Developer and App Developer</span>
                    </div>
                    <nav class="main-nav" role="navigation">
                        <ul class="main-menu">
                            <li><a href="#section1">About Me</a></li>
                            <li><a href="#section2">What I’m good at</a></li>
                            <li><a href="#section3">My Skils</a></li>
                            <li><a href="#section4">My Work</a></li>
                            <li><a href="#section5">Contact Me</a></li>

                        </ul>
                    </nav>
                    <div class="social-network">
                        <ul class="soial-icons">
                            <li>
                                <a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        <p>Copyright 2020 </p>
                    </div>
                </div>
            </div>
        </div>

        <section class="section about-me" data-section="section1">
            <div class="container">
                <div class="section-heading">
                    <h2>About Me</h2>
                    <div class="line-dec"></div>
                    <span>I'm Web & App Developer.I have good Knowledge about Web & App Designing.I have
                        lot of Interset in Computer Programming. </span>
                </div>
                <div class="left-image-post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="{% static 'assets/images/site/left-image.jpg' %}" alt="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-text">
                                <h4> Comapny Working </h4>
                                <p>
                                    I have Company working Experience in Web Development and App Development. i handled
                                    some types project (Ecommerce, Social Media) during Company Working.
                                </p>
                                <div class="white-button">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section my-services" data-section="section2">
            <div class="container">
                <div class="section-heading">
                    <h2>What I’m good at?</h2>
                    <div class="line-dec"></div>
                    <span> I have worked Experience in different Computer Language and Frameworks
                        .I have good Knowledge in Frontend & Backend in Web Designing and also that i know about the
                        make API
                        .</span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="first-service-icon service-icon"></div>
                            <h4> Goals </h4>
                            <p> I want to become Expert in Computer Langauge. so i gathering knowlege about Computer
                                Launguage, Web & App Development , latest Technologies.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="second-service-icon service-icon"></div>
                            <h4>Creative Ideas</h4>
                            <p>
                                I like to solve problems of people through Creative Ideas and Startups. so i'm also
                                working in my Creative Idea and my Startups for helping to people.
                            </p>
                        </div>
                    </div>


                </div>



            </div>
        </section>

        <!-- ! PRogress Bar  -->
        <section class="section" data-section="section3">
            <div class="section-heading" style="padding: 40px 20px;">
                <h2>My Skills</h2>
                <div class="line-dec"></div>
            </div>

            <div class="row">
                <div class="col-md-6 float-left">
                    <h4 class="text-md-center mt-2"> Web Frontend Launguage </h4>
                    <div class="poll-desc">
                        <h4>HTML5</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:95%">
                            95%
                        </div>
                    </div>




                    <div class="poll-desc">
                        <h4>CSS3</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:95%">
                            95%
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>BOOTSTRAP</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:95%">
                            95%
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>JAVASCRIPT</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:80%">
                            80%
                        </div>
                    </div>

                </div>

                <!-- ! Right Side  -->
                <div class="col-sm-6 float-right">
                    <h4 class="text-md-center mt-2"> Web Backend Launguage </h4>
                    <div class="poll-desc">
                        <h4>DJNAGO</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:95%">
                            95%
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>DJNAGO REST FRAMEWORK</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:95%">
                            95%
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>PHP</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            70%
                        </div>
                    </div>

                </div>
            </div>
            <!-- ! SECOND ROW FOR DATA -->
            <hr style="height: 10px;  border-top: 3px dashed #bbb;  " />
            <div class=" row">
                <div class="col-md-6 float-left">
                    <h4 class="text-md-center mt-2"> Mobile App Developer</h4>
                    <div class="poll-desc">
                        <h4>Flutter </h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:80%">
                            80%
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>Dart</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:80%">
                            80%
                        </div>
                    </div>

                </div>


                <!-- ! Right Side  -->
                <div class="col-sm-6 float-right">
                    <h4 class="text-md-center mt-2"> DataBase </h4>
                    <div class="poll-desc">
                        <h4>DBMS</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:90%">
                            90%
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>MYSQL</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:85%">
                            85%
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>SQULITE</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:80%">
                            80%
                        </div>
                    </div>



                </div>
            </div>

            <!-- ! Third ROW FOR DATA -->
            <hr style="height: 10px;  border-top: 3px dashed #bbb;  " />
            <div class=" row">
                <div class="col-md-6 float-left">
                    <h4 class="text-md-center mt-2"> Programming Launguage </h4>
                    <div class="poll-desc">
                        <h4>PYTHON </h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            Advanced
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>Dart</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:60%">
                            Intermediate
                        </div>
                    </div>




                    <div class="poll-desc">
                        <h4>JAVASCRIPT</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:60%">
                            Intermediate
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>JAVA</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:60%">
                            Intermediate
                        </div>
                    </div>

                </div>


                <!-- ! Right Side  -->
                <div class="col-sm-6 float-right">
                    <h4 class="text-md-center mt-2"> Extra </h4>
                    <div class="poll-desc">
                        <h4>WORDPRESS</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:90%">
                            90%
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>Google Tag Manager</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:80%">
                            80%
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>Google Analytics</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:80%">
                            80%
                        </div>
                    </div>

                    <div class="poll-desc">
                        <h4>Google Search Console</h4>
                    </div>
                    <div class="progress" style="height:20px">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            70%
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <!-- ! end PRogress Bar  -->


        <!-- ! IMAGE AND PROJECT DATA -->
        <section class="section my-work" data-section="section4">
            <div class="container">
                <div class="section-heading">
                    <h2>My Work</h2>
                    <div class="line-dec"></div>
                    <span> I created project in these Languages and Frameworks. I completed some useful project.</span>
                </div>
                <div class="row">
                    <div class="isotope-wrapper">
                        <form class="isotope-toolbar">
                            <label><input type="radio" data-type="*" checked="" name="isotope-filter" />
                                <span>all</span></label>
                            <label><input type="radio" data-type="popular" name="isotope-filter" />
                                <span>popular</span></label>
                            <label><input type="radio" data-type="favourite" name="isotope-filter" />
                                <span>favourite</span></label>
                            <label><input type="radio" data-type="latest" name="isotope-filter" />
                                <span>latest</span></label>
                        </form>

                        <!-- ! IMAGE BOX IN  -->
                        <div class="isotope-box">

                            <div class="isotope-item" data-type="popular">
                                <figure class="snip1321">
                                    <img src="{% static 'assets\images\lang\dj1.png' %}" alt="sq-sample26" />
                                    <figcaption>
                                        <a href="{% static 'assets\images\lang\dj1.png' %}" data-lightbox="image-1"
                                            data-title="Caption"><i class="fa fa-search"></i></a>
                                        <h4>Django</h4>
                                        <span>Web Project in Django Framework</span>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="isotope-item" data-type="favourite">
                                <figure class="snip1321">
                                    <img src="{% static 'assets\images\lang\flutter.png' %}" alt="flutter" />
                                    <figcaption>
                                        <a href="{% static 'assets\images\lang\flutter.png' %}" data-lightbox="image-1"
                                            data-title="Caption"><i class="fa fa-search"></i></a>
                                        <h4>Flutter</h4>
                                        <span>Mobile Application Project in Flutter</span>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="isotope-item" data-type="latest">
                                <figure class="snip1321">
                                    <img src="{% static 'assets\images\lang\js.jpg' %}" alt="sq-sample26" />
                                    <figcaption>
                                        <a href="{% static 'assets\images\lang\js.jpg' %}" data-lightbox="image-1"
                                            data-title="Caption"><i class="fa fa-search"></i></a>
                                        <h4>JavaScript</h4>
                                        <span>Project in JavaScript</span>
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="isotope-item" data-type="people">
                                <figure class="snip1321">
                                    <img src="{% static 'assets\images\lang\python.jpg' %}" alt="sq-sample26" />
                                    <figcaption>
                                        <a href="{% static 'assets\images\lang\python.jpg' %}" data-lightbox="image-1"
                                            data-title="Caption"><i class="fa fa-search"></i></a>
                                        <h4>Python</h4>
                                        <span>Project in Python</span>
                                    </figcaption>
                                </figure>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ! END IMAGE AND PROJECT -->
        <!-- ! contact form -->
        <section class="section contact-me" data-section="section5">
            <div class="container">
                <div class="section-heading">
                    <h2>Contact Me</h2>
                    <div class="line-dec"></div>
                    <span>If you have any Query & Question please Contact us .</span>
                </div>
                <div class="row">
                    <div class="right-content">
                        <div class="container">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <fieldset>
                                            <input name="name" type="text" class="form-control" id="name"
                                                placeholder="Your name..." required="" />
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <input name="email" type="text" class="form-control" id="email"
                                                placeholder="Your email..." required="" />
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <input name="subject" type="text" class="form-control" id="subject"
                                                placeholder="Subject..." required="" />
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" class="form-control" id="message"
                                                placeholder="Your message..." required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="button">
                                                Send Message
                                            </button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor\jquery\jquery.min.js' %}"></script>
    <script src="{% static 'vendor\bootstrap\js\bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets\js\isotope.min.js' %}"></script>
    <script src="{% static 'assets\js\owl-carousel.js' %}"></script>
    <script src="{% static 'assets\js\lightbox.js'%}"></script>
    <script src="{% static 'assets\js\custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $(".main-menu li:first").addClass("active");

        var showSection = function showSection(section, isAnimate) {
            var direction = section.replace(/#/, ""),
                reqSection = $(".section").filter(
                    '[data-section="' + direction + '"]'
                ),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $("body, html").animate(
                    {
                        scrollTop: reqSectionPos
                    },
                    800
                );
            } else {
                $("body, html").scrollTop(reqSectionPos);
            }
        };

        var checkSection = function checkSection() {
            $(".section").each(function () {
                var $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var currentId = $this.data("section"),
                        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
                    reqLink
                        .closest("li")
                        .addClass("active")
                        .siblings()
                        .removeClass("active");
                }
            });
        };

        $(".main-menu").on("click", "a", function (e) {
            e.preventDefault();
            showSection($(this).attr("href"), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
</body>

</html>